.user-entry {
  height: 215px;
  padding-bottom: 20px;
}

.user-entry-form {
  display: flex;
  flex-direction: column;
}

.user-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border: 2px solid lightgray;
}

input:hover {
  border: 2px solid black;
}
