.modal {
  height: 200px;
  padding: 0 0 10px 0;
  margin-top: -35px;
}

.modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 33.33%;
  background-color: rgb(116, 9, 116);
}

.invalid {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-text-output {
  padding: 1rem;
}

.exit-modal-btn {
  margin-right: 1rem;
  float: right;
}
